* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 10px;
    position: relative;
    background-color: rgb(18, 102, 74);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav form {
    display: flex;
}

nav .nav-links {
    display: flex;
    flex-direction: row;
}

nav .nav-links a {
    text-decoration: none;
    color: white;
    display: inline;
    padding: 12px 16px;
    text-transform: capitalize;
}

footer {
    text-align: center;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(18, 102, 74);
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width:590px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    nav .nav-links {
        display: flex;
        flex-direction: column;
    }
}