* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 10px;
    position: relative;
    background-color: rgb(18, 102, 74);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav form {
    display: flex;
}

nav .nav-links {
    display: flex;
    flex-direction: row;
}

nav .nav-links a {
    text-decoration: none;
    color: white;
    display: inline;
    padding: 12px 16px;
    text-transform: capitalize;
}

section .parallax {
    height: 400px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#dc143c, #003893, #ffffff);
}

section .parallax h1 {
    text-align: center;
    color: #ffffff;
}

section .gallery-header {
    padding: 20px 30px;
}

section .gallery-header h1 {
    text-align: center;
    font: 1.5rem;
    color: #ffffff;
    text-transform: capitalize;
}

section .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section .gallery .image-content {
    width: 350px;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
}

section .gallery .image-content img {
    width: 100%;
    height: auto;
    transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

section .gallery .image-content img:hover {
    z-index: 2;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

footer {
    text-align: center;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(18, 102, 74);
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width:590px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    nav .nav-links {
        display: flex;
        flex-direction: column;
    }
}