@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swamp');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background:linear-gradient(#1d8daf,#7597de);
}
header{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .Travel{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: capitalize;
    letter-spacing:2px ;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
    transform: translateX(-50%);
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#fff;
    border-radius: 20px;
    
}
header ul li a:hover{
   
    background-color: #ffff;
    color: #2b1055;
}

.detail{
    background-color: aliceblue;
    padding: 66px;  
    display: none;
  
}
:target{
    display: block;
    
}