@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swamp');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#d53369,#cbad6d);
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}
.container{
    background: linear-gradient(#7474BF,#348AC7);
    width: 46%;
    margin-left: 25%;
    border-radius: 6px;
   
}
.container ul{

    display: flex;
    justify-content: center;
    align-items: center;  
}
.container ul li{
   
    list-style: none;
    margin-left: 20px;
    margin: 0px;
    overflow: hidden;
}
.container ul li a{
    text-decoration: none;
    padding: 1px 87px;
    color: #fff;
    border-radius: 20px;
    
    
}
.container ul li a:hover{
    background-color: #fff;
    color: black;
    
}
.detail{
    display: none;
    background: #fff;
    padding-top: 7px;
    padding-left: 17px;
    padding-right: 20px;
    padding-bottom: 8px;

}
:target{
    display: block;
}